log: {
  path: /srv/twister/instance/log
  file: twister.log
  rotate.on.usr2: true
}
zookeeper: {
  commit.ms: 2000
  connect.string: 'zk-server01:2181,zk-server02:2181/chroot/kafka'
  reset.offset.on.startup: true
}
kafka: {
  consumer.group.name: twister_instance
  consumer.topics: mistral
  producer.topic: twister
  producer.response.strategy: WaitForLocal
  producer.retry.attempts: 4
  keepalive.ms: 4200
}
twister: {
  handler.queue.length: 16
}
misc: {
  produce.metrics: true
}
legacy: {
  socket.path: /run/twister.seqpacket
  metrics.debug.stderr: false
  metrics.debug.frequency.seconds: 30
}
